.canvas-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.527);
    border: none;
    color: white;
    font-size: 14px;
    box-shadow: 0px 7px 5px -5px black;
    width: 100%;
    height: 100%;
    /* margin-bottom: 25px; */
    /* box-sizing: border-box; */
}

.canvas-title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.round-prompt-title{
    text-align: center;
}

.title-input {
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0px;
}

.canvas-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.canvas-error{
    color: rgba(255, 0, 0, 0.514);
    top: 50%;
    left: 20%;
    position: absolute;
}

.canvas-error-hidden{
    display: none;
}


.canvas-toolkit{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
}

.toolkit-option{
    width: 100%;
}

.options-modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -25px;
    left: 0;
    width: calc(100% - 40px);
    background-color: #000000;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: 20px 20px;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px 0px rgb(0, 0, 0);
}

.close-options-button{
    position: absolute;
    cursor:pointer;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.close-options-button:hover{
    color: rgba(255, 255, 255, 0.253);
}

.size-options-container{
    padding: 10px;
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.color-options-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
}

.color-option{
    height: 20px;
    width: 20px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid white;
}

.color-option:hover{
    transition: .2s;
    border-radius: 50%;
}

.size-option{
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.size-option:hover{
    background-color: #ffffff36;
    transition: background-color .2s;
    border-radius: 10px;
}

.canvas-inner-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.canvas-element{
    width: 100%;
    margin: 0 20px;
    box-sizing: border-box;
    height: 78%;
    border-radius: 8px;
}

.toolkit-option-selected{
    background-color: rgba(0, 0, 0, 0.5);
}

.options-modal-title{
    margin: 0;
    margin-bottom: 10px;
}

@media (min-width: 500px) {
    .canvas-container{
        padding: 15px;
        width: 70vw;
        height: 80vh;
        border-radius: 10px;
    }

    .canvas-title {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 0;
        box-sizing: border-box;
    }

    .title-input {
        width: 100%;
        box-sizing: border-box;
        margin: 0px 0px;
    }

    .canvas-element{
        margin: 15px 0;
        min-width: 100%;
    }

    .canvas-toolkit{
        margin: 0;
        padding: 0;
    }
}
@media (min-width: 680px) {
    .canvas-container{
        width: 60vw;
        height: 80vh;
    }
}

@media (min-width: 720px){
    .canvas-container{
        width: 55vw;
        height: 75vh;
    }
}

@media (min-width: 800px){
    .canvas-container{
        width: 50vw;
        height: 75vh;
    }
}

@media (min-width: 900px){
    .canvas-container{
        width: 500px;
        height: 75vh;
    }
}
