.form-container {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: 0px 10px 10px -5px rgb(1, 2, 53);
    padding: 10px;
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
}

.demo-login-buttons{
    display: flex;
    flex-direction: column;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow-y: auto;
}

.form-title{
    font-size: 24px;
}

::placeholder{
    color: rgba(255, 255, 255, 0.651);
}

.input-errors::placeholder{
    color: #f87c7ca9;
    font-style: italic;
}

.backend-errors{
    color: #f87c7ca9;
    font-style: italic;
}

.input-field{
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    border: none;
    background-color: #0b055a;
    color: white;
    font-size: 14px;
    box-shadow: 0px 7px 5px -5px black;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.input-field::-webkit-inner-spin-button,
.input-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-field {
    -moz-appearance: textfield;
}

.input-field:hover,
.input-field:focus {
    outline: none;
}

.input-field::-webkit-inner-spin-button,
.input-field::-webkit-outer-spin-button {
    background-color: #f1f1f1;
    border: none;
}

input:focus {
    background-color: #0b055a;
    outline: none;
}

button{
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    border: none;
    background-color: #0150b4;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-shadow: 0px 7px 5px -5px black;
}

button:hover{
    cursor: pointer;
    background-color: #0b055a;
}

.form-login-signup-prompt{
    text-align: center;
}


#create-game-form-container p {
    text-align: center;
}

.form-container form label {
    padding: 5px 10px;
}

.create-game-input-div{
    position: relative;
    display: flex;
    box-sizing: border-box;
}

.create-game-input-div .prompt-input,
.create-game-input-div input{
    width: 100%;
    padding-left: 50px;
}

.get-prompt-button{
    position: absolute;
    left: 25px;
    top: 30%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.get-prompt-button:hover{
    color: white;
}

.increase-decrease-div {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 15px;
    top: 35%;
    width: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.increase-decrease-div i:hover{
    cursor: pointer;
    color: white;
}

@media (min-width:500px){
    .form-container{
        border-radius: 10px;
        height: fit-content;
        width: fit-content;
    }

    form{
        width: 100%;
    }

    .form-title{
        font-size: 28px;
    }

    .demo-login-buttons{
        width: 100%;
        flex-direction: row;
    }
}
