#how-to-play-outer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#how-to-play-inner{
    position: relative;
    width: min-content;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    max-height: 80vh;
    overflow-y: auto;
    margin-top: 10vh;
}
#close-how-to{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 22px;
    cursor:pointer;
}

.how-to-imgs{
    border-radius: 10px;
    max-width: 600px;
}

.how-to-title{
    font-weight: bold;
    font-size: 20px;
}
