.nav-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: #00000080;
}

.nav-bar--open{
    background-color: #000000d2;

}

.home-link {
    cursor: pointer;
    color: white;
    margin: 0;
}

.disabled-home-link{
    cursor: unset;
}

.left-nav-links{
    display: flex;
    flex-direction: column;
}

.about-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.about-link{
    margin-right: 10px;
}

.user-menu{
    position: absolute;
    box-sizing: border-box;
    text-align: right;
    z-index: 1;
    right: 0;
    top: 99%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #000000d2;
    transition: 1s;
}

.user-options {
    margin: 8px 0;
    cursor: pointer;
    color: white;
    width: 100%;
}

@media (min-width: 635px) {
    .nav-bar{
        padding: 5px 40px;
    }

    .left-nav-links{
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .about-links{
        width: 100%;
        justify-content: space-evenly;
    }

    .home-link{
        margin: 10px 0;
    }

    .user-menu{
        width: fit-content;
    }
    .user-options{
        width: 200px;
    }
}

@media (min-width: 750px) {
    .nav-bar{
        padding: 5px 80px;
    }

    .home-link{
        margin: 10px 0;
    }
}

.user-menu-button{
    display: flex;
    justify-content: space-between;
    color: white;
    border: 3px solid white;
    height: fit-content;
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: unset;
}

.user-menu-button:hover{
    color: rgba(255, 255, 255, 0.671);
    border-color: rgba(255, 255, 255, 0.671);
}



.user-menu-hidden{
    display: none;
    opacity: 0;
    transition: 1s;
}




.user-options:hover{
    color: rgba(255, 255, 255, 0.671);
}

.divider{
    width: 100%;
    border-bottom: 1px solid white;
    margin: 15px 0;
}

#menu-username{
    margin: 0;
    font-size: 22px;
}

.switch-container{
    display: flex;
    justify-content: center;
    /* flex-direction: row-reverse; */
    width: 100%;
}

.theme-switch{
    /* width: 200px; */
    display: flex;
    align-items: center;
}

.theme-switch--light-mode{
    justify-content: flex-start;
}

.theme-switch--dark-mode{
    justify-content: flex-end;
}

.theme-switch-inner{
    height: 27px;
    width: 27px;
    background-color: #00000080;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
