#nav-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 1;;
}


.home-link {
    cursor: pointer;
    color: white;
    margin: 10px 0;
}
.disabled-home-link{
    cursor: unset;
}

#how-to-play-link{
    cursor: pointer;
}

#how-to-play-user-icon-div{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#user-icon {
    color: white;
    border: 3px solid white;
    height: fit-content;
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#user-icon:hover{
    color: rgba(255, 255, 255, 0.671);
    border-color: rgba(255, 255, 255, 0.671);
}

.user-menu{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 100%;
    width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.527);
}

.user-menu-hidden{
    display: none;
}


.user-options{
    margin: 8px 0;
    cursor: pointer;
    color: white;
}

.user-options:hover{
    color: rgba(255, 255, 255, 0.671);
}

.divider{
    width: 100%;
    border-bottom: 1px solid white;
    margin: 15px 0;
}

#menu-username{
    margin: 0;
    font-size: 22px;
}
