.single-past-game-container{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: 0px 10px 10px -5px rgb(1, 2, 53);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.game-results-title{
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: 0px 10px 10px -5px rgb(1, 2, 53);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.game-results-title p{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.game-info-container{
    display: flex;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.player-info-container{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: 0px 10px 10px -5px rgb(1, 2, 53);
    box-sizing: border-box;
    margin: 5px;
    overflow-y: auto;
    height: 50%;
}

.past-game-player-card{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: 0px 10px 10px -5px rgb(1, 2, 53);
}

.past-game-player-card p{
    padding: 5px;
}

.podium-info{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.first-place{
    color:goldenrod;
    text-shadow: -2px 2px 5px goldenrod;
}

.second-place{
    color:silver;
    text-shadow: -2px 2px 5px silver;
}

.third-place{
    color:#a5472a;
    text-shadow: -2px 2px 5px #a5472a;
}

.non-podium{
    color: white;
}

.pg-player-card-score{
    font-style: italic;
    margin: 0;
}

.round-info-container {
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: 0px 10px 10px -5px rgb(1, 2, 53);
    margin: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: fit-content;
    height: 50%;
    max-width: 100%;
    overflow-y: auto;
}

.round-info-card{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: 0px 10px 10px -5px rgb(1, 2, 53);
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.round-info-title p{
    margin: 5px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}
.round-info-divider{
    border-bottom: 1px solid white;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

.round-info-drawings-container{
    display: flex;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
}

.round-info-drawing-div{
    position: relative;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    height: 20vh;
    min-width: fit-content;
}

.round-info-drawing-div img{
    cursor: pointer;
    height: 100%;
}

.drawing-stats{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 5px 10px -5px rgb(1, 2, 53);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
}

.drawing-stats__text{
    color: black;
    font-size: 12px;
    margin: 2px 5px;
}

.drawing-stats__vote-count{
    font-style: italic;
}
