.user-drawings-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: 0px 7px 5px -5px black;
    padding: 10px;
}

.no-drawings-container{
    display: flex;
    height: 100%;
}

.indiv-drawing-container{
    width: 100%;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.drawing-title{
    position: absolute;
    background-color: #00000080;
    left: 15px;
    top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 5px;
    box-shadow: 0px 7px 5px -5px black;
    cursor: pointer;
}

.indiv-drawing-container .edit-title-form input.edit-title-field{
    position: relative;
    background-color: #00000080;
    left: 0;
    top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    color: #ffffff;
    margin: 0;
    padding: 5px 25px 5px 10px;
    box-shadow: 0px 7px 5px -5px black;
}

.drawing-title:hover,
.delete-button:hover{
    background-color: rgba(0, 0, 0, 0.712);
}

.delete-button{
    color: rgba(255, 52, 52, 0.623);
    font-size: 20px;
    position: absolute;
    background-color: #00000080;
    padding: 5px;
    box-shadow: 0px 7px 5px -5px black;
    border-radius: 5px;
    left: 15px;
    cursor: pointer;
    bottom: 20px;
}

.indiv-drawing-container img{
    height: 100%;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 7px 5px -5px black;
    cursor: pointer;
}

.edit-title-form{
    width: 60%;
    position: absolute;
    left: 15px;
    top: 15px;
}


.edit-close{
    position: absolute;
    color: #ffffff;
    top: 25%;
    right: 10px;
    cursor: pointer;
}

.no-drawings-title{
    text-align: center;
    width: 100%;
}

.delete-warning{
    position: absolute;
    top: 50%;
    left: 25%;
    border-radius: 10px;
    background-color: #000000be;
    box-shadow: 0px 7px 5px -5px black;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.delete-warning-title{
    text-align: center;
}

.warning-delete-button{
    background-color: rgb(168, 18, 18);
}

.warning-delete-button:hover{
    background-color: rgb(95, 0, 0);
}


@media (min-width: 500px){
    .user-drawings-container{
        width: fit-content;
        padding-bottom: 100px;
    }
}

@media (min-width: 1150px){
    .user-drawings-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .indiv-drawing-container{
        height: 500px;
    }
}
